<% if @recipe.errors.any? %>
  <div id="error_explanation">
    <h2>There were some errors:</h2>
    <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @recipe do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <%= f.label :description %>
  <%= f.text_area :description, size: "30x10" %><br>

  <%= f.label :category %>
  <%= f.collection_select :category_id, Category.all, :id, :name, :prompt => "Please Select One" %><br>

  <h3>Ingredients</h3>
  <%= f.fields_for :ingredients, @recipe.ingredients.build do |ingredient_builder| %>
    <%= render 'ingredient_fields', f: ingredient_builder %>
  <% end %>

  <%= f.submit %>
<% end %>
