<h3>Ingredients</h3>

<% 7.times do %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.fields_for :recipe_ingredients, @recipe.recipe_ingredients.build do |recipe_ingredients_fields| %>
    <%= recipe_ingredients_fields.label :quantity %>
    <%= recipe_ingredients_fields.text_field :quantity %>
    <%= recipe_ingredients_fields.check_box :key_ingredient %>
    <%= recipe_ingredients_fields.label :key_ingredient %><br>
  <% end %>
<% end %>
