<% if current_user %>
  Currently logged in as: <%= current_user.email %>
  <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
<% else %>
  <%= link_to "Sign In", new_user_session_path %>
  <%= link_to "Sign Up", new_user_registration_path %>
<% end %>


<h1>Recipes</h1>

<%= link_to "View by Category", categories_path %>

<% @recipes.each do |recipe| %>
  <h3><%= link_to recipe.name, recipe_path(recipe) %></h3><br>
  <p><%= recipe.description %></p>
  Category: <%= recipe.category.name %><br>
<% end %><br>

<% if current_user %>
  <%= link_to "Add New Recipe", new_recipe_path %>
<% end %>
