
<%= link_to "Sign in with GitHub", user_github_omniauth_authorize_path %>
<%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
<%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>

<h1>Recipes</h1>

<% @recipes.each do |recipe| %>
  <h3><%= link_to recipe.name, recipe_path(recipe) %></h3><br>
  <p><%= recipe.description %></p>
  Category: <%= recipe.category.name %><br>
<% end %><br>

<%= link_to "Add New Recipe", new_recipe_path %>
