<%= link_to "Back to Recipes", recipes_path %>

<h1><%= @recipe.name %></h1>
Average Rating: <br>
<% if current_user.ratings.where(recipe_id: @recipe.id) %>
  You rated this recipe:
  <% user_rating = current_user.ratings.where(recipe_id: @recipe.id) %>
  <%= user_rating.first.rating %>
<% else %>
  <%= link_to "Rate this Recipe", new_recipe_rating_path(@recipe) %>
<% end %>
<p><%= @recipe.description %></p>



Category: <%= @recipe.category.name %><br><br>

Ingredients:
<table>
  <tr>
    <th>Name</th>
    <th>Quantity</th>
  </tr>
<% @ingredients.each do |ingredient| %>
  <tr>
    <td><%= ingredient.name %></td>
    <td>
    <% recipe_ingredient = RecipeIngredient.where(recipe_id: @recipe.id, ingredient_id: ingredient.id) %>
    <%= recipe_ingredient.first.quantity %>
    </td>
  </tr>
<% end %>
</table>

<% if @recipe.user_id == current_user.id %>
  <%= link_to "Edit", edit_recipe_path(@recipe) %>
  <%= link_to "Delete", recipe_path(@recipe), method: :delete %>
<% end %>
