<h1><%= @recipe.name %></h1>
<p><%= @recipe.description %></p>

Category: <%= @recipe.category.name %><br><br>

Ingredients:
<ul>
<%= @ingredients.each do |ingredient| %>
  <li>Name: <%= ingredient.name %> Quantity: <%= ingredient.recipe_ingredients.last.quantity %> </li>
<% end %>
</ul>

<%= link_to "Edit", edit_recipe_path(@recipe) %>
