<h1><%= @recipe.name %></h1>
<p><%= @recipe.description %></p>

Category: <%= @recipe.category.name %><br><br>

Ingredients:
<ul>
<%= @ingredients.each do |ingredient| %>
  <li>Name: <%= ingredient.name %> Quantity: <%= RecipeIngredient.find_by(ingredient_id: ingredient.id, recipe_id: @recipe.id).quantity %> </li>
<% end %>
</ul>
