<% if @recipe.errors.any? %>
  <div class="fields_with_errors">
    <h2>There were some errors:</h2>
    <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h1>Ratings for <%= @recipe.name %></h1>

<%= link_to "Back to Recipe", recipe_path(@recipe) %>

<ul>
  <% @recipe.ratings.most_recent.each do |rating| %>
    <li><%= rating.user.email.split("@")[0] %> rated <%= rating.rating %></li>
    <% end %>
</ul>
