<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="nav navbar-nav navbar-left">
      <%= link_to "Recipes", recipes_path %>
      <div class="nav space">
        <%= link_to "Quick View Recipe Cards", recipes_path, class: "all-recipes" %>
      </div>
    </div>

    <div class="navbar-brand">
      <%= link_to "Do Good Do Eat", root_path %>
    </div>

    <div class="nav navbar-nav navbar-right">
      <% if current_user %>
        Currently logged in as: <%= current_user.email %>
        <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path %>
        <%= link_to "Sign Up", new_user_registration_path %>
      <% end %>
    </div>

  </div>
</nav>
